<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="zpm-generate-ui.ZPM">
    <Module>
    <Name>zpm-generate-ui</Name>
    <Version>1.0.0</Version>
	<Description>UI for basic zpm commands. From module generation, install, load, uninstall to publishing in the private registry.</Description>
    <Packaging>module</Packaging>
	<Keywords>zpm generate ui</Keywords>
	<Author>
	<Person>Mikhaylenko Sergey</Person>
	<CopyrightDate>2022</CopyrightDate>
	<License>MIT</License>
	</Author>
	<SystemRequirements Version=">=2020.1" Interoperability="enabled" />
	<SourcesRoot>src</SourcesRoot>
	<Invoke Class="appmsw.cbrf.util" Method="init" Phase="Activate" When="After"/>
	<Dependencies>
	<ModuleReference>
    	<Name>apptools-admin</Name>
    	<Version>1.1.*</Version>
        </ModuleReference>
	<ModuleReference>
    	<Name>zapm</Name>
    	<Version>1.0.*</Version>
        </ModuleReference>
    </Dependencies>
    <Invokes>
     <Invoke Class="apptools.lte.zapm" Method="init"></Invoke>
    </Invokes>
	<Resource Name="apptools.lte.zapm.CLS"/>
    </Module>
  </Document>
</Export>
